body{
    background: black;
}
/*This is a custom overrride for h2 that would allow us to set a certain font */
#bootstrap-overrides{
    color: white;
} 
/* Side Menu */
#st-sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: #242424;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }


.st-text-standard{
    color: white;
  }